/*  CSS */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


/* Main container styling */

.container {
    width: 100%;
    min-height: 100vh;
    background: rgb(225, 223, 223);
    padding: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Header styling */

.header {
    width: 100%;
    max-width: 540px;
    background: linear-gradient(to bottom, rgb(76, 76, 239), rgb(4, 168, 232));
    /* Blue gradient background */
    padding: 20px;
    margin-top: 50px;
    box-shadow: grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    animation: glow 1s infinite;
    /* Apply glow animation */
}


/* Glow animation */

@keyframes glow {
    0% {
        box-shadow: 5px 10px 30px rgba(128, 128, 128, 0.5);
        /* Start with a small shadow */
    }
    50% {
        box-shadow: 0 0 20px rgba(128, 128, 128, 0.7);
        /* Increase shadow intensity */
    }
    100% {
        box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
        /* Return to the initial shadow */
    }
}


/* Header title styling */

.header h2 {
    color: #fff;
    /* White text color */
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 35%;
    font-size: 30px;
}


/* Row styling */

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}


/* List heading styling */

.list-heading {
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
}


/* List container styling */

#list-container {
    list-style: none;
    padding: 0;
    margin: 0;
    background: white;
    width: 100%;
    max-width: 540px;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* List heading inside list container styling */

#list-container .list-heading {
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(248, 247, 247);
}


/* List item styling */

#list-container li {
    background: rgb(218, 216, 216);
    color: #333333;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 5px;
}


/* Symbol container inside list item styling */

#list-container .symbol {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* Symbol styling */

.symbol {
    display: flex;
    gap: 5px;
    /* Adjust the space between symbols */
}


/* Input box styling */

input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    background: white;
    padding: 10px;
    font-weight: 14px;
    border-radius: 30px;
    margin-right: 10px;
    color: #1f1e1e;
    /* White text color */
}


/* Button styling */

button {
    border: none;
    outline: none;
    padding: 10px 20px;
    background: #f8f6f6;
    color: #252424;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}


/* Button hover effect */

button:hover {
    background-color: grey;
    /* Additional styles for the hover effect */
}


/* Todo app container styling */

.todo-app {
    width: 100%;
    max-width: 540px;
}


/* Modal styling */

.modal {
    display: none;
    /* Hidden by default */
    position: absolute;
    /* Position it relative to the container */
    bottom: 10px;
    /* Adjust the distance from the bottom */
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50%);
    /* Center horizontally */
    z-index: 1;
    /* Sit on top */
    width: 80%;
    /* Adjust the width */
    max-width: 400px;
    /* Adjust the maximum width */
    background-color: #303030;
    border: 1px solid #888;
    border-radius: 10px;
    cursor: pointer;
}


/* Modal content styling */

.modal-content {
    padding: 20px;
    text-align: center;
}


/* Edit task heading styling */

.modal-content h2 {
    margin-bottom: 20px;
    color: #f9f9f9;
}


/* Edit task input styling */

.modal-content input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* Button group styling */

.button-group {
    display: flex;
    justify-content: center;
    cursor: pointer;
}


/* Buttons styling */

.button-group button {
    padding: 10px 20px;
    margin: 0 10px;
    background: #f8f7f7;
    color: #454545;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}


/* Button hover effect */

.button-group button:hover {
    background: #013473;
}


/* Done task styling */

.done {
    text-decoration: line-through;
}